[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.63.0"
uvicorn = "==0.13.4"
mangum = "==0.11.0"
asyncpg = "==0.22.0"
databases = {version = "==0.4.3", extras = ["postgresql"]}

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
